p {
	margin-bottom: $base-margin;
}

// headings
#{headings()} {
	text-rendering: optimizelegibility;
	line-height: 1.1;
	margin-bottom: 0.7em;
}

// basic elements
blockquote {
	@extend p;
	border-left: 2px solid $grey;
	color: $grey;
	font-style: italic;
	padding-left: $base-padding;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

article {

	ul { list-style-type: disc; }
	ol { list-style-type: decimal; }

	ul,
	ol {
		font-size: $base-font-size;
		line-height: $base-line-height;
		padding-left: 3rem;
		margin-bottom: $base-margin;

		li {
			line-height: 1.625;
			margin-bottom: 1rem;
		}

		ul, ol { margin-bottom: 0; }
  }
}

sup {
	font-size: 0.9rem;
	position: relative;
	top: -0.75rem;
}

b, strong { font-weight: bold; }

i, em{ font-style: italic; }

small, .small{ font-size: 75%; }
